


.main{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
     
    display: flex;
    align-items: center;
    justify-content: center;
   z-index: 5;
   
  
  

}



.firstDiv{
min-width: 60%;
display: flex;
align-items: center;
justify-content: space-around;
cursor: pointer;


padding: .8em;

}


.firstDiv a{
    color: rgb(194, 194, 194);
    text-decoration: none;
    font-size: 1.2rem;
  
}


.firstDiv a:hover{
    transition: 600ms;
    color: var(--white);
    transform: scale(.98);
    border-bottom: .2em solid var(--blue);
    padding-bottom: .1em;

 
    
}


.firstDiv a:nth-child(5){
    font-size: 1.5rem;
}
.firstDiv a:nth-child(6) {
    font-size: 1.5rem;
}

.firstDiv768{
    display: none;
}

.barsDiv{
    display: none;
}


@media (max-width:768px) {
    .main {
    
            display: none;
    
    
        }

  
    .barsDiv{
      display: block;
       position: fixed;
       top: 3%;
       right: 5%;
       z-index: 10;
      
        color: var(--fire);
        align-items: center;
        justify-content: center;

        font-size: 1.35rem;
        
    }

    .firstDiv768{
        position: fixed;
        z-index: 8;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
       align-items: center;
       justify-content: center;
        background-color: rgb(3, 3, 187);

     
    }

    .firstDiv768 a{
        color: white;
        padding: 1.5em;
        font-size: 1rem;
        text-decoration: none;
      
    }


        .firstDiv768 a:nth-child(5) {
            font-size: 1.3rem;
        }
    
        .firstDiv768 a:nth-child(6) {
            font-size: 1.3rem;
        }

.firstDiv768 a:hover {
    transition: 600ms;
    color: var(--fire);
    transform: scale(.98);



}

  
   


}



@media (max-width:600px) {

    .barsDiv {
    
    display: block;
        position: fixed;
        top: 3%;
        right: 5%;
        z-index: 10;
    
        color: var(--fire);
        align-items: center;
        justify-content: center;
    
        font-size: 1.15rem;
    
        }
 
    .firstDiv768 {
              position: fixed;
                z-index: 8;
                top: 0%;
                left: 0%;
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: rgb(3, 3, 187);
    
        }
    
        .firstDiv768 a {
            color: white;
                padding: 1.7em;
                font-size: .9rem;
                text-decoration: none;
        }
    
    
        .firstDiv768 a:nth-child(5) {
            font-size: 1.15rem;
        }
    
        .firstDiv768 a:nth-child(6) {
            font-size: 1.15rem;
        }
    
  
}