


.main{
 
    display: flex;
    align-items: center;
    justify-content: center;
   z-index: 5;
   background-color: rgb(3, 3, 187);
  
  

}



.firstDiv{
min-width: 60%;
color: white;
background-color: rgb(3, 3, 187);
display: flex;
align-items: center;
justify-content: space-around;
cursor: pointer;


padding: .8em;

}


.firstDiv a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  
}


.firstDiv a:hover{
    transition: 600ms;
    color: orange;
    transform: scale(.98);

 
    
}


.firstDiv a:nth-child(5){
    font-size: 1.5rem;
}
.firstDiv a:nth-child(6) {
    font-size: 1.5rem;
}

.firstDiv768{
    display: none;
}

.barsDiv{
    display: none;
}


@media (max-width:768px) {
    .main {
    
            display: none;
    
    
        }

  
    .barsDiv{
    
        display: flex;
        background-color: rgb(3, 3, 187);
        width: 100%;
        padding: 1em;
        color: white;
        align-items: center;
        justify-content: center;

        font-size: 1.35rem;
        
    }

    .firstDiv768{
         margin-top: -.1em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(3, 3, 187);
        border-bottom-right-radius: 5em;
     
    }

    .firstDiv768 a{
        color: white;
        padding: 3.2em;
        font-size: 1.3rem;
        text-decoration: none;
    }


        .firstDiv768 a:nth-child(5) {
            font-size: 1.5rem;
        }
    
        .firstDiv768 a:nth-child(6) {
            font-size: 1.5rem;
        }

.firstDiv768 a:hover {
    transition: 600ms;
    color: orange;
    transform: scale(.98);



}

  
   


}



@media (max-width:600px) {

    .barsDiv {
    
            display: flex;
            background-color: rgb(3, 3, 187);
            width: 100%;
            padding: .8em;
            color: white;
            align-items: center;
            justify-content: center;
    
            font-size: 1.05rem;
           
    
        }
 
    .firstDiv768 {
        
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(3, 3, 187);
            border-bottom-right-radius: 5em;
    
        }
    
        .firstDiv768 a {
            color: white;
            padding: 2.85em;
            font-size: 1rem;
            text-decoration: none;
        }
    
    
        .firstDiv768 a:nth-child(5) {
            font-size: 1.15rem;
        }
    
        .firstDiv768 a:nth-child(6) {
            font-size: 1.15rem;
        }
    
  
}