@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


 .container{

    width: 100%;
    cursor: pointer; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Kanit', sans-serif;
background-color: var(--black);

color: var(--white);

  }


  .firstDiv{
    padding-top: 3em;
    width: 100%;
   align-self: flex-start;
   display: flex;
   align-items: center;
  justify-content: center;
  font-size: 2.1rem;
  color: var(--blue);
  margin-bottom: 2em;
background-color: var(--black);
    /* border: 1px solid red; */

  }

  .textAndImage{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: var(--black);



  }

  .textAndImage div{
    width: 45rem;
    padding: .6em;
    font-size: 1.4rem;
        /* border: 2px solid red; */

  }

  .textAndImage2Imge{
    display: flex;
    align-items: center;
    justify-content: space-around;
          /* border: 2px solid red; */
 
  }





  .textAndImage2Imge :nth-child(1){
    width: 20%;
margin-right: 1em;
  }

    .textAndImage2Imge :nth-child(2) {
      width: 22%;
    }


    .textAndImage2Imge :nth-child(1):hover{
      transition: 400ms;
      transform: scale(.98);
     
    }

  .textAndImage2Imge :nth-child(2):hover {
    transition: 400ms;
    transform: scale(.98);
  
 }





  .secondDiv{
   margin-top: 2em;
    width: 45rem;
    display: flex;
    
    justify-content: space-around;
    align-items: center;

    /* border: 1px solid red; */

  }


 

  .imageDiv{
    max-width: 48%;
    height: auto;

    display: none;
 
   

  }

.imageDiv  img{
    height: 100%;
    width: 100%;
    border-radius: .7em;
  }




  .secondDivText{
  /* min-height: 40vh; */
    min-width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid red; */

  }

  .secondDivTextIcons{
    
   
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    text-align: left;
    font-size: 1.15rem;
     padding:1em;
    border-bottom: .1em solid var(--blue);


  }


  .icons{
    margin-bottom: 1em;
    font-size: 1.4rem;
    
  }


  .threedDiv{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

background-color: var(--black);
    /* border: 1px solid red; */

  }


    .emptyDiv {
      width: 100%;
      padding: 3em;
      display: flex;
      background-color: var(--black);
  
    }




  .button{
 
    padding:0.7em;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
     border-radius: .7em;
    background-color:white ;
    color: #300885;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1em;
    margin-top: 1em;
    
   

  }

  .button:hover{
    transition: 600ms;
    transform: scale(1.03);
    background-color: var(--fire);
      color: white;
      border: none;
      cursor: pointer;
  }

   @media (max-width: 1400px){
      .textAndImage div {
         width: 45rem;
          padding: .6em;
          font-size: 1.3rem;
       
      
        }
   }




    @media (max-width: 1200px) {


      .firstDiv {
          padding-top: 3em;
          width: 100%;
          align-self: flex-start;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          text-align: center;
       
      
    
      
        }


         .textAndImage div {
           width: 45rem;
           padding: .6em;
           font-size: 1.3rem;
    
    
         }
 
      
        .secondDiv {
      
          width: 45rem;
          display: flex;
          flex-direction: column;
      
          justify-content: space-around;
          align-items: center;
        
      
      
        }
      
      
      

      
      
        .secondDivText {
          /* min-height: 40vh; */
          min-width: 48%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
     
      
      
        }
      
        .secondDivTextIcons {
      
          width: 95%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-around;
          text-align: left;
          font-size: 1.35rem;
          padding: 1.2em;
        
      
      
        }
      
      
      
        .threedDiv {
          max-width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
      
        
      
        }
      
      
      
      
      
        .button {
      
          padding: 0.7em;
          width: 250px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: .7em;
          border: .2em solid #300885;
      
          color: #300885;
          font-weight: bold;
          font-size: 1.1rem;
          margin-bottom: 1em;
          margin-top: 1em;
      
      
      
        }

  


     
    }











        @media (max-width: 992px) {
    
    
          .firstDiv {
          padding-top: 3em;
            width: 100%;
            align-self: flex-start;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            text-align: center;

    
    
    
          }


         .textAndImage div {
           width: 43rem;
           padding: .7em;
           font-size: 1.3rem;
    
    
         }
    
    
    
          .secondDiv {
    
            width: 43rem;
            display: flex;
            flex-direction: column;
    
            justify-content: space-around;
            align-items: center;
    
    
    
          }
    
    
    

    
          .secondDivText {
            /* min-height: 40vh; */
            min-width: 48%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
    
    
    
          }
    
          .secondDivTextIcons {
    
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            text-align: left;
            font-size: 1.45rem;
            padding: 1.3em;
       
    
    
          }
    
    
    
          .threedDiv {
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
    
    
    
          }
    

    
        }















                @media (max-width: 768px) {
        
        
                  .firstDiv {
                  padding-top: 2em;
                    width: 100%;
                    align-self: flex-start;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.85rem;
                    text-align: center;
          
        
        
        
                  }

 
         .textAndImage {

           width: 85%;
           padding: 1em;
           display: flex;
           flex-direction: column;
           align-items: flex-start;
           background-color: var(--black);
    
    
    
    
         }


  
             .textAndImage div {
               width: 100%;
               padding: .7em;
               font-size: 1.15rem;
      
      
             }
        
        
                  .secondDiv {
        
                    width: 80%;
                    display: flex;
                    flex-direction: column;
        
                    justify-content: space-around;
                    align-items: center;
        
        
        
                  }


.emptyDiv {
  width: 100%;
  padding: 3em;
  display: flex;
background-color: var(--black);

}
        
        
        
        
                  .imageDiv {
                    max-width: 85%;

                    display: flex;
                   
                    
        
        
        
                  }
        
                  .imageDiv img {
                    height: 100%;
                    width: 100%;
                    border-radius: .7em;
                  }
        
        
        
        
                  .secondDivText {
                    /* min-height: 40vh; */
                    min-width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
        
        
        
                  }
        
                  .secondDivTextIcons {
        
                    width: 95%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
                    text-align: left;
                    font-size: 1.45rem;
                    padding: 1.3em;
              
        
        
                  }


    .icons {
      margin-bottom: 1em;
      font-size: 1.2rem;
  
    }
        
        
        
                  .threedDiv {
                    max-width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
        
        
        
                  }

.button {

  padding: 0.7em;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .7em;
  color: #300885;
  font-weight: bold;
  font-size:1rem;
  margin-bottom: 1em;
  margin-top: 1em;



}

        
        
        
                }


















@media (max-width: 600px) {


  .firstDiv {
  padding-top: 2em;
    width: 100%;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.65rem;
    text-align: center;
 


  }

    

    .textAndImage {
  
      width: 90%;
      padding: 1em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: var(--black);
      margin-top: 0em;
 
  
  
  
  
    }
  
  
  
    .textAndImage div {
      min-width: 100%;
      padding: .8em;
      font-size: 1rem;
  
  
    }

    .textAndImage2Imge :nth-child(1) {
      width: 33%;
      margin-right: 1em;
    }
  
    .textAndImage2Imge :nth-child(2) {
      width: 35%;
    }


  .secondDiv {

    width: 85%;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;



  }


  .emptyDiv {
    width: 100%;
    padding: 3em;
    display: flex;


  }




  .imageDiv {
    max-width: 100%;
   

  }

  .imageDiv img {
    height: 100%;
    width: 100%;
    border-radius: .7em;
  }




  .secondDivText {
    /* min-height: 40vh; */
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;



  }

  .secondDivTextIcons {

    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    text-align: left;
    font-size: 1.2rem;
    padding: .9em;
 


  }

    .icons {
      margin-bottom: 1em;
      font-size: 1rem;
  
    }

  .threedDiv {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;



  }


    .button {
  
      padding: 0.8em;
      width: 220px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: .7em;
      border: .2em solid #300885;

      font-weight: bold;
      font-size: .8rem;
      margin-bottom: 1em;
      margin-top: 1em;
  
  
  
    }



}














@media (max-width: 450px) {


  .firstDiv {
    padding: 1em;
    width: 100%;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    text-align: center;




  }


        .textAndImage {
    
          width: 90%;
          padding: 1em;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          background-color: var(--black);
    
    
    
    
        }
    
    
    
        .textAndImage div {
          min-width: 100%;
          padding: .8em;
          font-size: .9rem;
    
    
        }
    
        .textAndImage2Imge :nth-child(1) {
          width: 40%;
          margin-right: 1em;
        }
    
        .textAndImage2Imge :nth-child(2) {
          width: 42%;
        }



  .secondDiv {

    width: 85%;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;



  }


  .emptyDiv {
    width: 100%;
    padding: 2em;
    display: flex;


  }




  .imageDiv {
    max-width: 95%;
    



  }

  .imageDiv img {
    height: 100%;
    width: 100%;
    border-radius: .7em;
  }




  .secondDivText {
    /* min-height: 40vh; */
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;



  }

  .secondDivTextIcons {

    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    text-align: left;
    font-size: .9rem;
    padding: .8em;



  }

    .icons {
      margin-bottom: 1em;
      font-size: 1rem;
  
    }

  .threedDiv {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;



  }


  .button {

    padding: 0.8em;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .7em;
    font-weight: bold;
    font-size: .8rem;
    margin-bottom: .8em;
    margin-top: 1em;



  }



}
